body {
  margin: 0;
  padding: 0;
  background-color: rgba(239, 239, 239, 255);
}


/* Estilos adicionales para el contenido principal */
main {
  padding: 20px;
}

.header nav {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
}

.header nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;

}

.header #logo {
  font-size: 1.2em;
  font-weight: 600;
}

.header input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
}

.header label {
  display: none;
  cursor: pointer;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 1em;
  margin-right: 7%;
}

.header ul a {
  padding: 0.5em;
}

.header ul a:hover {
  background-color: #000000;
  border-radius: 0.5em;
}

.logo-1 {
  width: 200px;
  margin-left: 7%;
}

.header nav a:hover {
  color: #1ED760;
  /* Cambia el color de la fuente a verde */
}

/* Estilos para el enlace en el pie de página (opcional) */

/* Estilos para enlace en hover (opcional) */

h1 {
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 34px;
  font-family: 'Roboto', sans-serif;
}

p {
  align-items: center;
  justify-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.pricing-table {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  transition: margin 0.5s;
  /* Agrega una transición suave al margen */
  box-sizing: border-box;
  /* Asegura que el relleno no afecte el ancho */
  margin-bottom: 6%;
}

.price-card {
  display: flex;
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: 900vh;
  height: 24vh;
  align-items: center;
  margin-top: 3%;
  transition: margin 0.5s;
  /* Agrega una transición suave al margen */
  box-sizing: border-box;
  /* Asegura que el relleno no afecte el ancho */
  backdrop-filter: blur(16px) saturate(180%);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: transform 0.2s ease-in-out;

}

.price-card:hover {
  /* Aplica un aumento de escala al pasar el mouse */
  transform: scale(1.05);
}

/* Estilo para el plan recomendado */
.recommended-label {
  /* Estilos anteriores del plan recomendado */

  /* Asegúrate de que se muestre sobre las otras tarjetas */
  position: relative;
  z-index: 1;
}

.price-text {
  margin: 0;
}

.text-center {
  display: flex;
  flex-direction: column;
  /* Cambia la dirección de flexión a columna */
  justify-content: center;
  /* Centra verticalmente el contenido */
  margin: auto;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

.music-img {
  display: none;


}

.music-img-pc {
  display: flex;
  width: 8vh;
  margin-left: 5%;



}

.text-secondary-1,
.text-secondary-2 {
  display: flex;
  flex-direction: column;
  /* Cambia la dirección de flexión a columna */
  justify-content: center;
  /* Centra verticalmente el contenido */
  margin: auto;
  width: 30%;
  height: 30%;
  align-items: center;
  justify-items: center;
  text-align: left;
  ;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;

}

.d-block {
  width: 100%;
}

.highlighted {
  background-color: white;
  /* Fondo blanco */
  position: fixed;
  /* Para posicionar el círculo dentro de la tarjeta */
  margin-top: -200px;
  margin-left: 95%;



  /* Ajusta el relleno según tus necesidades */
}

/* Estilo para el círculo */

  .highlighted::before {
    content: "\2b";
    /* Código del ícono "crown" en Font Awesome 6 */
    font-family: "Font Awesome 6 Free";
    /* Nombre de la fuente de íconos */
    border-radius: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    top: 35%;

    right: 98%;
    /* Color del ícono */
  
    /* Tamaño del ícono */
  font-size: 25px;
    width: 70px;
    height: 70px;
  
    background-color: #1ED760;
    cursor: pointer;
  }

  .gg {
    content: "\2b";
    /* Código del ícono "crown" en Font Awesome 6 */
    font-family: "Font Awesome 6 Free";
    /* Nombre de la fuente de íconos */
    border-radius: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    top: -16%;

    right: -2%;
    /* Color del ícono */
  
    /* Tamaño del ícono */

    width: 90px;
    height: 90px;

    cursor: pointer;
  }
.highlighted btn{
  font-size: 20px;
}
.price-card:nth-child(1):hover .highlighted::before {
  content: "\f144"; /* Cambia el contenido del ícono */
  background-color: #1ED760; /* Cambia el color de fondo del círculo */
}
.price-card:nth-child(2):hover .highlighted::before {
  content: "\f144"; /* Cambia el contenido del ícono */
  background-color: #1ED760; /* Cambia el color de fondo del círculo */
}
.price-card:nth-child(3):hover .highlighted::before {
transition: 0.7s;
  content: "\f144"; /* Cambia el contenido del ícono */
  background-color: #1ED760; /* Cambia el color de fondo del círculo */
}
.btn {
  align-items: center;
  text-decoration: none;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  /* Ajusta el valor según el radio de borde deseado */
  padding: 10px 20px;
  /* Ajusta el padding según el tamaño deseado */
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
  /* Transición suave para el hover */
}


/* Estilos para el hover */
.btn:hover {
  background-color: white;
  color: black;
}

.footer {
  background-color: #000000;
  color: white;

  display: flex;
  justify-content: space-between;
  padding: 4% 7% 10% 7%;
  margin: 0 7% 0 7% 0;
}

.footer-section {
  font-size: 15px;
  flex: 1;
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;

}

.footer h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer ul {
  list-style-type: none;
  padding: 0;

}

.footer li {
  margin-bottom: 5px;
}

.logo-2 {
  width: 20vh;
  height: 6vh;
  align-items: center;
  justify-content: center;
  padding-right: 10%;

}
@media (max-width: 1600px) {
  
  
.highlighted::before {
  content: "\2b";
  /* Código del ícono "crown" en Font Awesome 6 */
  font-family: "Font Awesome 6 Free";
  /* Nombre de la fuente de íconos */
  border-radius: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  top: 36%;
  right: 98%;
  /* Color del ícono */

  /* Tamaño del ícono */
font-size: 25px;
  width: 50px;
  height: 50px;

  background-color: #1ED760;
}
}
@media (max-width: 1120px) {

  .music-img-pc {
    display: none;
  }

  

}
@media (max-width: 1040px) {
.highlighted{
 display: none;
}
.gg {
  content: "\2b";
  /* Código del ícono "crown" en Font Awesome 6 */
  font-family: "Font Awesome 6 Free";
  /* Nombre de la fuente de íconos */
  border-radius: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  top: -10%;

  right: -2%;
  /* Color del ícono */

  /* Tamaño del ícono */

  width: 70px;
  height: 70px;

  cursor: pointer;
}
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .footer-section {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 870px) {

  .header label {
    display: block;
  }

  .header ul {
    font-size: 1.2em;
    position: absolute;
    left: -100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: #000000;
    gap: 2em;
    top: 50px;
    width: 70%;
    height: calc(100vh - 60px);
    transition: 0.2s;

  }

  .pepito {
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .header ul li a .active {
    margin-left: 20%;
  }

  .header input[type="checkbox"]:checked~ul {
    left: 0;
  }

  .header nav {
    display: flex;
    position: relative;
    top: 0;
    /* Alinea el navbar en la parte superior */
    background-color: #000000;
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */

  }

  .logo-1 {
    width: 170px;
  }

  .play {
    margin-right: 7%;
    font-size: 30px;
  }

  .highlighted::before {

    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
 
    right: -4%;
    z-index: 1;

  }

  .highlighted {
    background-color: white;
    /* Fondo blanco */
    position: fixed;
    /* Para posicionar el círculo dentro de la tarjeta */
    top: 15%;
    right: 3%;
  }
  .gg {
    content: "\2b";
    /* Código del ícono "crown" en Font Awesome 6 */
    font-family: "Font Awesome 6 Free";
    /* Nombre de la fuente de íconos */
    border-radius: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    top: -0%;
    right: -3%;

    width: 100px;
    height: 100px;

    cursor: pointer;
  }
  .btn {
    width: 70%;
  }


  .price-card {
    width: 100%;
    /* Las tarjetas ocuparán todo el ancho disponible */
    margin: 10px 0;
    /* Agrega espacio entre las tarjetas */
    height: 110vh;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    transition: none;

  }

  .price-card:hover {
    /* Aplica un aumento de escala al pasar el mouse */
    transform: none;
  }

  .text-center {
    display: flex;
    flex-direction: column;
    /* Cambia la dirección de flexión a columna */
    justify-content: center;
    /* Centra verticalmente el contenido */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 25px;
    margin: 10% 0 5% 0;
  }

  .music-img {
    width: 100%;
    display: flex;
    width: 40vh;
  }

  .music-img-pc {
    display: none;
  }

  .text-secondary-1,
  .text-secondary-2 {
    display: flex;
    flex-direction: column;
    /* Cambia la dirección de flexión a columna */
    justify-content: center;
    /* Centra verticalmente el contenido */
    margin: auto;
    font-size: 30px;
    width: 80%;
    text-align: left;
  }

  .btn {
    margin: 0 0 0 0;
  }



  .highlighted .btn {
    margin-right: 0;
    font-size: 20px;
    width: 80%;
  }
}

@media (max-width: 420px) {
  .music-img {
    display: flex;
    width: 100%;
  }

  .text-secondary-1,
  .text-secondary-2 {
    font-size: 25px;

    margin-bottom: 0px;
  }
  .gg {
    content: "\2b";
    /* Código del ícono "crown" en Font Awesome 6 */
    font-family: "Font Awesome 6 Free";
    /* Nombre de la fuente de íconos */
    border-radius: 50%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    top: -0%;

    right: -5%;
    /* Color del ícono */
  
    /* Tamaño del ícono */

    width: 40px;
    height: 40px;

    cursor: pointer;
  }

}

@media (max-width: 350px) {
  .logo {
    width: 50%;
    padding-right: 40%;
  }
}