
body{
    margin: 0;
    padding: 0;
background-color: rgba(239,239,239,255);
}
.header {
    background-color: #000000;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 7% 1% 7%;
}

/* Estilos para el logo */

/* Estilos para el menú de navegación */
.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 20px;

}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logo{
    width: 150px;
}

/* Estilos adicionales para el contenido principal */
main {
    padding: 20px;
}

/* Estilos para el enlace en el pie de página (opcional) */

/* Estilos para enlace en hover (opcional) */

 h1{
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 50px;
 }
 h2{
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 38px;
 }
 p{
    align-items: center;
    justify-items: center;
    text-align: center;
 }
 .pricing-table{
    width: 85%;
    margin: auto;
   display: flex;
    flex-wrap: wrap;
    transition: margin 0.5s; /* Agrega una transición suave al margen */
    box-sizing: border-box; /* Asegura que el relleno no afecte el ancho */
    margin-bottom: 6%;
 }
 .price-card{
    display: flex;
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 900vh;
    height: 24vh; 
    align-items: center;
    margin-top: 3%;
    transition: margin 0.5s; /* Agrega una transición suave al margen */
    box-sizing: border-box; /* Asegura que el relleno no afecte el ancho */
    backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    transition: transform 0.2s ease-in-out;
}
.price-card:hover {
    /* Aplica un aumento de escala al pasar el mouse */
    transform: scale(1.05);
}

/* Estilo para el plan recomendado */
.recommended-label {
    /* Estilos anteriores del plan recomendado */

    /* Asegúrate de que se muestre sobre las otras tarjetas */
    position: relative;
    z-index: 1;
}
.price-text{
    margin: 0;
}
 .text-center{
    display: flex;
    flex-direction: column; /* Cambia la dirección de flexión a columna */
    justify-content: center; /* Centra verticalmente el contenido */
    margin: auto;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 25px;
 }
 .music-img{
    display: none;
    width: 15vh;
 }
 .music-img-pc{
    width: 8vh;
 }
 .text-secondary-1,.text-secondary-2{
    display: flex;
    flex-direction: column; /* Cambia la dirección de flexión a columna */
    justify-content: center; /* Centra verticalmente el contenido */
    margin: auto;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 25px;
 }
 .d-block{
    width: 100%;
 }
 .price-card.recommended {
    border: 2px solid #1ED760; /* Borde de color naranja */
    box-shadow: 0 0 10px rgba(235, 233, 231, 0.5); /* Sombra de color naranja */
}

/* Estilos para la etiqueta "Recomendado" */
.recommended-label {
    background-color:  #1ED760; /* Fondo de color naranja */
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 20px;
    z-index: 1;
}
 .btn {
    text-decoration: none;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px; /* Ajusta el valor según el radio de borde deseado */
    padding: 10px 20px; /* Ajusta el padding según el tamaño deseado */
    cursor: pointer;
    width: 50%;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el hover */
}

/* Estilos para el hover */
.btn:hover {
    background-color: white;
    color: black;
}
.footer {
    background-color: #000000;
    color: white;
  
    display: flex;
    justify-content: space-between;
   padding: 4% 7% 7% 7%;
}

.footer-section {
    font-size: 15px;
    flex: 1;
    margin-right: 20px;

}

.footer h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    
}

.footer li {
    margin-bottom: 5px;
}
.logo-2{
    width: 20vh;
    height: 6vh;
    align-items: center;
    justify-content: center;
    padding-right: 10%;
    
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
    }

    .footer-section {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media (max-width: 870px) {
    .header{
        padding: 3% 7% 3% 7%;
    }
    .nav-menu {
        display: none;
    }
    .logo{
 
        padding-right: 60%;
    }
    .pricing-table {
        flex-direction: column; /* Cambia la dirección de flexión a columna */
        align-items: center; /* Centra las tarjetas horizontalmente */
    }

    .price-card {
        width: 100%; /* Las tarjetas ocuparán todo el ancho disponible */
        margin: 10px 0; /* Agrega espacio entre las tarjetas */
        height: 90vh;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        transition: none;
    }
    .price-card:hover {
        /* Aplica un aumento de escala al pasar el mouse */
        transform: none;
    }
    
    .text-center{
        display: flex;
        flex-direction: column; /* Cambia la dirección de flexión a columna */
        justify-content: center; /* Centra verticalmente el contenido */
        width: 100%;
        height: 100%;
        align-items: center;
        justify-items: center;
        text-align: center;
        font-size: 25px;
        margin: 10% 0 0 0;
     }
     .music-img{
        display: flex;
        width: 40vh;
     }
     .music-img-pc{
        display: none;
     }
     .text-secondary-1,.text-secondary-2{
        display: flex;
        flex-direction: column; /* Cambia la dirección de flexión a columna */
        justify-content: center; /* Centra verticalmente el contenido */
        margin: auto;
        font-size: 30px;
        width: 80%;
        text-align: left;
     }
     .btn{
        margin-bottom: 10%;
     }
}
@media (max-width: 350px) {
    .logo{
        width: 50%;
        padding-right: 40%;
    }
}